@import url('https: //fonts.googleapis.com/css?family=Montserrat:600|Roboto:400');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    width: 240px;
    height: 100%;
    background: #1e1e1e;
}