* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(background1.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  font-family: sans-serif;
}

.menu-bar {
  background: rgba(0, 100, 0);
  text-align: center;
}
